<html>
    <head>
        <link rel="stylesheet" href="../static/styles/style.css">
    </head>
    <body>
        <main>
            <div>
                <h1>Instruction manual</h1>
                
                <div class="form-ele">
                    <ol>
                        <p></p><br>
                        <li>Open the browser and run the application.</li><br>
                        <li>Click on the “Browse” option to upload the desired video.</li>
                        <br>
                        <li>It directs you to the file explorer.</li>
                        <br>
                        <li>Choose any video from your local computer.</li>
                        <br>
                        <li>Make sure the file format is a valid video format (like .mp4, .avi, .wmv etc).</li>
                        <br>
                        <li>Do not exceed the upload size limit of 200 MB per file.</li>
                        <br>
                        <li>Click on the Open button once you choose your desired video.</li>
                        <br>
                        <li>The preview of the video opens up on the screen.</li>
                        <br>
                        <li>If the desired video has not been chosen then go back and repeat the procedure from Step 2.</li>
                        <br>
                        <li>Click on the Process button to anonymise your video.</li>
                        <br>
                        <li>The anonymised video will be visible.</li>
                        <br>
                        <li>“Anonymized Video successfully exported to original path” is displayed on your screen once the video is anonymised.</li>
                        <br>
                        <li>Go to the file location on your computer to view the anonymized video saved with name "video_processed.mp4"</li> 
                    </ol>
                    <br><a href="{{url_for('hello_world')}}">Return to Main Page</a>
                </div>
                
            </div>
        </main>
    </body>
</html>